<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>644593034419-ll9439rm978qreheudn30gntljmh8bu5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.644593034419-ll9439rm978qreheudn30gntljmh8bu5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>644593034419-9usu6ttfmdrg9junuh35ss6fmq5dro13.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyArskkiDXcd3g2EASbc9oA4IpZ_NwAfIhI</string>
	<key>GCM_SENDER_ID</key>
	<string>644593034419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.skillbuddy.academy</string>
	<key>PROJECT_ID</key>
	<string>saynode-skillbuddy</string>
	<key>STORAGE_BUCKET</key>
	<string>saynode-skillbuddy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644593034419:ios:26813ae890d099c65afcc6</string>
</dict>
</plist>