<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>SkillBuddy</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>skillbuddy</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>io.skillbuddy.academy</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>skillbuddy.io</string>
				<string>com.googleusercontent.apps.644593034419-ll9439rm978qreheudn30gntljmh8bu5</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>GIDClientID</key>
	<string>644593034419-ll9439rm978qreheudn30gntljmh8bu5.apps.googleusercontent.com</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>app-settings</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBiometricUsageDescription</key>
	<string>We use biometrics to authenticate you</string>
	<key>NSCameraUsageDescription</key>
	<string>This app needs access to your photo library to allow you to upload a profile picture.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>We use Face ID to authenticate you</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Used to capture audio for image picker plugin</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to your photo library to allow you to upload a profile picture.</string>
	<key>NSUserNotificationUsageDescription</key>
	<string>We need permission to send you notifications</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>fetch</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>branch_key</key>
	<dict>
		<key>test</key>
		<string>key_test_cwbYZyRZSUpRYleWfbxdUfcpysdk2G21</string>
		<key>live</key>
		<string>key_live_oEk5WFL8VPeG2fd2gagtvlimFAaf4LWR</string>
	</dict>
	<key>branch_universal_link_domains</key>
	<array>
		<string>v8yly.test-app.link</string>
		<string>v8yly-alternate.test-app.link</string>
		<string>v8yly.app.link</string>
		<string>v8yly-alternate.app.link</string>
	</array>
	<key>FlutterDeepLinkEnabled</key>
	<false/>
</dict>
</plist>
